section.contacts#information
    .contacts__title Остались вопросы?<br> Свяжитесь с нами!
    ul.contacts-list
        li.contacts-item
            span.data__title Звоните: 
            span.data__real 8 (800) 1000 900
        li.contacts-item
            span.data__title Приезжайте в гости:
            span.data__real Санкт-Петербург,<br> Невский проспект, д. 20

        li.contacts-item
            span.data__title Пишите:
            span.data__real hello@pinkapp.ru
section.map
    
