section.price
       
    .price-grey
        .price-angle
         
            .price__wrap
                table.price__table
                    tr
                        td.price-none 
                        th База <br> 1,99 USD
                        th.price-img <img src="img/hit.png" class="hit"> Стандарт <br> 3,99 USD 
                        th Анлим <br> 9,99 USD
                    tr
                        td.price__string Розовый фильтр
                        td <img src="img/yes.png">
                        td <img src="img/yes.png">
                        td <img src="img/yes.png">
                    tr
                        td.price__string Смайлики
                        td <img src="img/no.png">
                        td <img src="img/yes.png">
                        td <img src="img/yes.png">
                    tr
                        td.price__string Комментарии
                        td <img src="img/no.png">
                        td <img src="img/no.png">
                        td <img src="img/yes.png">    