.price#price
    table.price__table
        tr.d-320
            td.price-none 
            th База <br> 1,99 USD
            th.price-img <img src="img/hit.png" class="hit" alt="hit"> Стандарт <br> 3,99 USD 
            th Анлим <br> 9,99 USD
        tr.d-n320
            td.price__string Розовый фильтр
            td <img src="img/yes.png" alt="yes">
            td <img src="img/yes.png" alt="yes">
            td <img src="img/yes.png" alt="yes">
        tr.d-n320
            td.price__string Смайлики
            td <img src="img/no.png" alt="no">
            td <img src="img/yes.png" alt="yes">
            td <img src="img/yes.png" alt="yes">
        tr.d-n320
            td.price__string Комментарии
            td <img src="img/no.png" alt="no">
            td <img src="img/no.png" alt="no">
            td <img src="img/yes.png" alt="yes">    