section.riviews-slider#reviews
    .riviews-wrap

        a(href="#").slider-previous.controll
        .gallery
            ul.riviews-text
                li
                    span.riviews__comment Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!
                    span.riviews__name Иван Петров
                    span.riviews__data 35 лет, водитель трамвая
                li
                    span.riviews__comment Как здорово им пользоваться!Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!
                    span.riviews__name Николай Петров
                    span.riviews__data 25 лет, водитель трамвая
                li
                    span.riviews__comment Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!
                    span.riviews__name Влад Петров
                    span.riviews__data 45 лет, водитель трамвая

        a(href="#").slider-next.controll 


