section.riviews-slider
    .riviews-bg
        .riviews-wrap
        
            a(href="#").slider-previous.controll 
            .riviews-text
                span.riviews__comment Это приложение перевернуло мой мир и позволило по-новому взглянуть на привычные серые вещи! А еще я познакомился со своей будущей женой в комментариях к выложенной фотографии!
                span.riviews__name Николай Петров
                span.riviews__data 25 лет, водитель трамвая
            a(href="#").slider-next.controll 
